Repository xuezhaojun/dashboard, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, config, dependencies, testing, security, ui

.github/labeler.yml:

# Frontend related changes
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*'
      - 'public/**/*'
      - 'index.html'
      - 'package.json'
      - 'package-lock.json'
      - 'pnpm-lock.yaml'
      - 'vite.config.ts'
      - 'tsconfig*.json'
      - 'eslint.config.js'

# Backend related changes
backend:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/**/*'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'Dockerfile'
      - '.dockerignore'
      - 'Makefile'
      - '.env*'
      - '.gitignore'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'pnpm-lock.yaml'
      - 'backend/go.mod'
      - 'backend/go.sum'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*test*'
      - '**/*spec*'
      - '.test/**/*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/security-scan.yml'
      - 'backend/pkg/auth/**/*'

# UI/UX
ui:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/components/**/*'
      - 'src/theme/**/*'
      - 'public/images/**/*'
      - 'public/favicons/**/*'

Remove AI-generated code note from README.md: Deleted the badge and warning note regarding AI-generated code to streamline documentation and focus on essential project information.
  README.md
Labels: documentation

Add "ask deepwiki" badge.
  README.md
Labels: documentation

Add lint and test; Fix a lint issues.
  Makefile
  src/components/PlacementListPage.tsx
Labels: frontend, config, ui

Fix more lint errors.
  src/components/layout/Drawer.tsx
  src/components/layout/DrawerLayout.tsx
Labels: frontend, ui

Add comprehensive unit tests to achieve 70% coverage
  backend/go.mod
  backend/go.sum
  backend/main_test.go
  backend/pkg/client/kubernetes_test.go
  backend/pkg/client/mocks.go
  backend/pkg/client/ocm_test.go
  backend/pkg/handlers/addons_test.go
  backend/pkg/handlers/clusters_test.go
  backend/pkg/handlers/clustersetbindings_test.go
  backend/pkg/handlers/clustersets_test.go
  backend/pkg/handlers/manifestwork_test.go
  backend/pkg/handlers/placementdecisions_test.go
  backend/pkg/handlers/placements_test.go
  backend/pkg/handlers/streaming_test.go
  backend/pkg/models/addon_test.go
  backend/pkg/models/cluster_test.go
  backend/pkg/models/clusterset_test.go
  backend/pkg/models/clustersetbinding_test.go
  backend/pkg/models/common_test.go
  backend/pkg/models/manifestwork_test.go
  backend/pkg/models/placement_test.go
  backend/pkg/models/placementdecision_test.go
  backend/pkg/server/server_test.go
Labels: backend, dependencies, testing
